---
import { render } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../layouts/BlogPost.astro';
import { getBlogSource } from '../../lib/content-source';

const slug = Astro.params.slug ?? '';
const post = await getBlogSource().getPostBySlug(slug);

let Content: Awaited<ReturnType<typeof render>>['Content'] | null = null;

if (post) {
  ({ Content } = await render(post));
} else {
  Astro.response.status = 404;
}
---

{
  post && Content ? (
    <BlogPost {...post.data}>
      <Content />
    </BlogPost>
  ) : (
    <BaseLayout title="Lorem ipsum" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
      <section class="section">
        <div class="empty-state">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="button" href="/blog">Lorem ipsum</a>
        </div>
      </section>
    </BaseLayout>
  )
}
